spring:
  application:
    name: study
#  resources:
#    static-locations: classpath:/static/
  datasource:
#    url: jdbc:postgresql://localhost:5432/postgres
    url: jdbc:log4jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 6022
#    driver-class-name: org.postgresql.Driver
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    # HikariCP 연결 풀 설정
    hikari:
      pool-name: HikariCP
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
      max-lifetime: 600000
#  jpa:
#    properties:
#      hibernate:
#        format_sql: true # 쿼리를 보기 좋게 포맷팅
#    show-sql: true       # SQL 출력 활성화			

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    tags-sorter: alpha
    operations-sorter : method
    doc-expansion : none

mybatis:
  mapper-locations: classpath:mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true
#    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl		

#logging:
#  level:
#    org.hibernate.type.descriptor.sql: off