<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.pkr.project.board.mapper.BoardMapper">
    <select id="selectBoard" parameterType="Map" resultType="com.pkr.project.common.vo.CustomMap">
    /** selectBoard */
		SELECT
			(ROW_NUMBER() OVER()) AS ROWNUM
			,IDX
			,CONTENTS
			,CREATED_AT
			,CREATED_BY
			,TITLE
		FROM
			TB_BOARD
		WHERE 1=1
	    <if test='title != null and title != ""'>
	    	AND TITLE like '%' || #{title} || '%'
	    </if>			
	    <if test='contents != null and contents != ""'>
	    	AND TO_CHAR(CREATED_AT, 'YYYY-MM-DD') like '%' || #{contents} || '%'
	    </if>			
	    <if test='createdStart != null and createdStart != ""'>
	    	AND TO_CHAR(CREATED_AT, 'YYYY-MM-DD') >= #{createdStart}
	    </if>			
	    <if test='createdEnd != null and createdEnd != ""'>
	    	AND #{createdEnd} >= TO_CHAR(CREATED_AT, 'YYYY-MM-DD')
	    </if>			
		ORDER BY IDX DESC
		LIMIT #{pageSize} OFFSET (#{pageNumber} - 1) * #{pageSize}
    </select>
    
    <select id="selectBoardDetail" parameterType="int" resultType="com.pkr.project.common.vo.CustomMap">
    /** selectBoardDetail */
		SELECT
			IDX
			,CONTENTS
			,CREATED_AT
			,CREATED_BY
			,TITLE
		FROM
			TB_BOARD
		WHERE 1=1
			AND IDX = #{idx}
    </select>
    
    <insert id="insertBoard" parameterType="Map">
    /** insertBoard */
        INSERT INTO TB_BOARD
        (
        TITLE
        , CONTENTS
        , CREATED_BY
        , CREATED_AT
        ) VALUES (
        #{title}
        , #{contents}
        , #{createdBy}
        , NOW()
        )
    </insert>
    
    <update id="updateBoard" parameterType="Map">
    /** updateBoard */
        UPDATE
        	TB_BOARD
        SET
	        TITLE = #{title}
	        ,CONTENTS = #{contents}
	        ,CREATED_BY = #{contents}
	        ,CREATED_AT = NOW()
        WHERE 1=1
        	AND IDX = #{idx}
    </update>
    
    <delete id="deleteBoard" parameterType="int">
    /** deleteBoard */
        DELETE FROM TB_BOARD WHERE IDX = #{idx}
    </delete>

</mapper>
